.app {
  text-align: center;
  padding: 2em 0;
  height: 100vh;
}

img {
  height: 35px;
  border: solid 1px;
  border-radius: 5px;
  padding: 35px;
  background: white;
  margin: 35px;
}

.app-intro,p {
  width: 70vw;
  margin: 50px auto;
  font-size: 25px;
}

.cell-container {
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cell {
  height: 30vh;
  width: 25vw;
  min-width: 180px;
  border: solid 1px;
  border-radius: 5px;
  background-color: white;
  margin: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}

.hide-this {
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 40px;
  height: 100%;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  .cell-container {
    width: 80vw;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .hide-this {
    font-size: 35px;
  }
}
.header-text{
  height: 450px;
}
.error-text p{
  color: #e6563d;
  font-size: 35px;
  /* background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,0,0,0.5676645658263305) 100%); */
}
@media only screen and (max-width: 360px) {
  .cell-container {
    width: 40vw;
  }
}
