.app {
  text-align: center;
  padding: 2em 0;
}
img {
  height: 35px;
}

.cell {
  height: 30vh;
  width: 25vw;
  border: solid 1px;
  background-color: pink;
  margin: 20px;
  box-shadow: 0 0 10px;
}

.cell:hover {
  background-color: rgb(242, 172, 183);
}
.cell:active {
  background-color: rgb(242, 172, 183);
}
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.05);
}

.cell-container {
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: deeppink;
}

.app-intro {
  width: 50vw;
  margin: 50px auto;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}


@media only screen and (max-width: 720px) {
  .cell-container{
    width:80vw;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .cell {
    background-color: rgb(9, 148, 194);
    height: 20vh;
    
  }
}
@media only screen and (max-width: 360px) {
  .cell-container{
    width: 40vw
  }
  .cell {
    background-color: green;
    height:15vh
  }
}


/* button click realistic feel  */
cell:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
cell::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  transition: all 0.2s;
}

cell:active,
cell:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
